%h1 Listing traductions

%table
  %tr
    %th Espagnol
    %th Francais
    %th Catégorie

  - @traductions.each do |traduction|
    %tr
      %td= traduction.espagnol
      %td= traduction.francais
      %td= traduction.category_id

